In [2]:
import pandas as pd

In [3]:
hospice_df=pd.read_csv('data/Hospice_General_Information.csv')

In [5]:
hospice_df = hospice_df.loc[hospice_df.State=='TN']
hospice_df.head(2)

,CMS Certification Number (CCN),Facility Name,Address Line 1,Address Line 2,City,State,Zip Code,County Name,PhoneNumber,CMS Region,Ownership Type,Certification Date
2889,441501,ALIVE HOSPICE INC,1718 PATTERSON ROAD,NaN,NASHVILLE,TN,37203,Davidson,(615) 327-1085,4,Non-Profit,04/10/1984
2890,441502,METHODIST ALLIANCE HOSPICE,"6400 SHELBY VIEW DRIVE, SUITE 101",NaN,MEMPHIS,TN,38134,Shelby,(901) 516-1600,4,Non-Profit,08/31/1984

In [6]:
# Facility Name,Address Line 1,Address Line 2,City,State,Zip Code,County Name,PhoneNumber,CMS 
hospice_df.columns = ['ccn','facility','address','address2', 'city','state','zip',
                      'county','phone','region','owner_type','cert_date']
hospice_df.head(2)

,ccn,facility,address,address2,city,state,zip,county,phone,region,owner_type,cert_date
2889,441501,ALIVE HOSPICE INC,1718 PATTERSON ROAD,NaN,NASHVILLE,TN,37203,Davidson,(615) 327-1085,4,Non-Profit,04/10/1984
2890,441502,METHODIST ALLIANCE HOSPICE,"6400 SHELBY VIEW DRIVE, SUITE 101",NaN,MEMPHIS,TN,38134,Shelby,(901) 516-1600,4,Non-Profit,08/31/1984

In [7]:
hospice_df.drop(columns = ['ccn','address2','zip','phone',],inplace = True)
hospice_df.head(2)

,facility,address,city,state,county,region,owner_type,cert_date
2889,ALIVE HOSPICE INC,1718 PATTERSON ROAD,NASHVILLE,TN,Davidson,4,Non-Profit,04/10/1984
2890,METHODIST ALLIANCE HOSPICE,"6400 SHELBY VIEW DRIVE, SUITE 101",MEMPHIS,TN,Shelby,4,Non-Profit,08/31/1984

In [8]:
hospice_df.head()

,facility,address,city,state,county,region,owner_type,cert_date
2889,ALIVE HOSPICE INC,1718 PATTERSON ROAD,NASHVILLE,TN,Davidson,4,Non-Profit,04/10/1984
2890,METHODIST ALLIANCE HOSPICE,"6400 SHELBY VIEW DRIVE, SUITE 101",MEMPHIS,TN,Shelby,4,Non-Profit,08/31/1984
2891,HOSPICE OF CHATTANOOGA INC,4411 OAKWOOD DRIVE,CHATTANOOGA,TN,Hamilton,4,Non-Profit,06/30/1986
2892,AMEDISYS HOSPICE CARE,6570 STAGE ROAD SUITE 110,BARTLETT,TN,Shelby,4,For-Profit,02/09/1987
2893,NORTHCREST HOME HEALTH AND HOSPICE,212 NORTHCREST DRIVE,SPRINGFIELD,TN,Robertson,4,Other,07/13/1987

In [9]:
print('top:',hospice_df.head())
print('-------------------------------------------------------------------------')
print('bottom:', hospice_df.tail())

top:                                 facility                            address  \
2889                   ALIVE HOSPICE INC                1718 PATTERSON ROAD
2890          METHODIST ALLIANCE HOSPICE  6400 SHELBY VIEW DRIVE, SUITE 101
2891          HOSPICE OF CHATTANOOGA INC                 4411 OAKWOOD DRIVE
2892               AMEDISYS HOSPICE CARE          6570 STAGE ROAD SUITE 110
2893  NORTHCREST HOME HEALTH AND HOSPICE               212 NORTHCREST DRIVE

             city state     county  region  owner_type   cert_date
2889    NASHVILLE    TN   Davidson       4  Non-Profit  04/10/1984
2890      MEMPHIS    TN     Shelby       4  Non-Profit  08/31/1984
2891  CHATTANOOGA    TN   Hamilton       4  Non-Profit  06/30/1986
2892     BARTLETT    TN     Shelby       4  For-Profit  02/09/1987
2893  SPRINGFIELD    TN  Robertson       4       Other  07/13/1987
-----------------------
bottom:                                   facility                        address  \
2940        ENCOMPASS HOSPICE OF TENNESSEE    828 ROYAL PARKWAY SUITE 113
2941                       QUALITY HOSPICE        341 WEST CENTRAL AVENUE
2942                        HEARTH HOSPICE  1800A ROSSVILLE AVE SUITE 114
2943  AMEDISYS HOSPICE, AN ADVENTA COMPANY              400 ROYAL PARKWAY
2944                       KINDRED HOSPICE        430 STUART RD NE, STE 2

             city state    county  region  owner_type   cert_date
2940    NASHVILLE    TN  Davidson       4  For-Profit  06/16/2010
2941    JAMESTOWN    TN  Fentress       4  For-Profit  01/04/2013
2942  CHATTANOOGA    TN  Hamilton       4  For-Profit  03/22/2013
2943    NASHVILLE    TN  Davidson       4       Other  01/05/2016
2944    CLEVELAND    TN   Bradley       4  For-Profit  01/04/2017

In [11]:
#print the dimensions of the data
hospice_df.shape

(56, 8)

In [13]:
cancer_df = pd.read_csv('data/cancer_deaths.csv',skiprows = 4, nrows = 97)
cancer_df.head()

,County,FIPS,Met Healthy People Objective of 161.4?,"Age-Adjusted Death Rate - deaths per 100,000",Lower 95% Confidence Interval,Upper 95% Confidence Interval,Average Annual Count,Recent Trend,Recent 5-Year Trend in Death Rates,Lower 95% Confidence Interval.1,Upper 95% Confidence Interval.1
0,Tennessee,47999,No,185.4,184.0,186.8,13933,falling,-1.4,-1.5,-1.2
1,United States,0,No,163.5,163.3,163.7,586354,falling,-1.5,-1.6,-1.5
2,Trousdale County,47169,No,265.5,219.0,319.1,24,stable,0.0,-1.3,1.3
3,Scott County,47151,No,241.0,214.5,270.0,63,stable,-0.5,-1.1,0.1
4,Cheatham County,47021,No,239.6,217.8,263.0,97,stable,-0.6,-1.4,0.3

In [15]:
#print the dimensions of the data
cancer_df.shape

(97, 11)

In [16]:
# County, FIPS, Met Healthy People Objective of 161.4?,"Age-Adjusted Death Rate - deaths per 100,000",
# Lower 95% Confidence Interval,Upper 95% Confidence Interval,Average Annual Count,Recent Trend,Recent 5-Year Trend in Death Rates,Lower 95% Confidence Interval,Upper 95% Confidence Interval
cancer_df.columns = ['county','fips','healthy','deathrate', 'death_lowci','death_upci','annualcount',
                      'trend','death5y','death5y_lowci','death5y_upci']
cancer_df.head(2)

,county,fips,healthy,deathrate,death_lowci,death_upci,annualcount,trend,death5y,death5y_lowci,death5y_upci
0,Tennessee,47999,No,185.4,184.0,186.8,13933,falling,-1.4,-1.5,-1.2
1,United States,0,No,163.5,163.3,163.7,586354,falling,-1.5,-1.6,-1.5

In [17]:
print('top:',cancer_df.head())
print('-------------------------------------------------------------------------')
print('bottom:', cancer_df.tail())

top:              county   fips healthy  deathrate  death_lowci  death_upci  \
0         Tennessee  47999      No      185.4        184.0       186.8
1     United States      0      No      163.5        163.3       163.7
2  Trousdale County  47169      No      265.5        219.0       319.1
3      Scott County  47151      No      241.0        214.5       270.0
4   Cheatham County  47021      No      239.6        217.8       263.0

   annualcount    trend  death5y  death5y_lowci  death5y_upci
0        13933  falling     -1.4           -1.5          -1.2
1       586354  falling     -1.5           -1.6          -1.5
2           24   stable      0.0           -1.3           1.3
3           63   stable     -0.5           -1.1           0.1
4           97   stable     -0.6           -1.4           0.3
-------------------------------------------------------------------------
bottom:                county   fips healthy  deathrate  death_lowci  death_upci  \
92   Van Buren County  47175     Yes      160.3        122.7       207.4
93     Pickett County  47137     Yes      158.7        123.3       203.9
94     Fayette County  47047     Yes      154.3        139.1       170.7
95  Williamson County  47187     Yes      127.2        119.8       134.9
96       Moore County  47127     Yes      123.2         93.9       160.5

    annualcount    trend  death5y  death5y_lowci  death5y_upci
92           14   stable     -0.9           -2.4           0.6
93           15   stable     -0.5           -1.8           0.9
94           81  falling     -1.4           -2.2          -0.5
95          239  falling     -3.8           -4.8          -2.9
96           12  falling     -2.1           -3.8          -0.4

In [18]:
#print the dimensions of the data
cancer_df.shape

(97, 11)

In [19]:
pop_df=pd.read_csv('data/PEP_2017_PEPAGESEX.csv')

In [20]:
pop_df.head(2)

,GEO.id,GEO.id2,GEO.display-label,cen42010sex0_age999,cen42010sex1_age999,cen42010sex2_age999,est42010sex0_age999,est42010sex1_age999,est42010sex2_age999,est72010sex0_age999,...,est72014sex2_medage,est72015sex0_medage,est72015sex1_medage,est72015sex2_medage,est72016sex0_medage,est72016sex1_medage,est72016sex2_medage,est72017sex0_medage,est72017sex1_medage,est72017sex2_medage
0,Id,Id2,Geography,"April 1, 2010 - Census - Both Sexes; Total","April 1, 2010 - Census - Male; Total","April 1, 2010 - Census - Female; Total","April 1, 2010 - Estimates Base - Both Sexes; T...","April 1, 2010 - Estimates Base - Male; Total","April 1, 2010 - Estimates Base - Female; Total",Population Estimate (as of July 1) - 2010 - Bo...,...,Population Estimate (as of July 1) - 2014 - Fe...,Population Estimate (as of July 1) - 2015 - Bo...,Population Estimate (as of July 1) - 2015 - Ma...,Population Estimate (as of July 1) - 2015 - Fe...,Population Estimate (as of July 1) - 2016 - Bo...,Population Estimate (as of July 1) - 2016 - Ma...,Population Estimate (as of July 1) - 2016 - Fe...,Population Estimate (as of July 1) - 2017 - Bo...,Population Estimate (as of July 1) - 2017 - Ma...,Population Estimate (as of July 1) - 2017 - Fe...
1,0500000US47001,47001,"Anderson County, Tennessee",75129,36308,38821,75094,36288,38806,75112,...,44.8,43.3,41.4,44.8,43.3,41.5,45.1,43.2,41.2,45.0

In [22]:
pop_df.shape

(96, 993)

In [32]:
pop_df.iloc[0,:]

GEO.id                                                                Id
GEO.id2                                                              Id2
GEO.display-label                                              Geography
cen42010sex0_age999           April 1, 2010 - Census - Both Sexes; Total
cen42010sex1_age999                 April 1, 2010 - Census - Male; Total
cen42010sex2_age999               April 1, 2010 - Census - Female; Total
est42010sex0_age999    April 1, 2010 - Estimates Base - Both Sexes; T...
est42010sex1_age999         April 1, 2010 - Estimates Base - Male; Total
est42010sex2_age999       April 1, 2010 - Estimates Base - Female; Total
est72010sex0_age999    Population Estimate (as of July 1) - 2010 - Bo...
est72010sex1_age999    Population Estimate (as of July 1) - 2010 - Ma...
est72010sex2_age999    Population Estimate (as of July 1) - 2010 - Fe...
est72011sex0_age999    Population Estimate (as of July 1) - 2011 - Bo...
est72011sex1_age999    Population Estimate (as of July 1) - 2011 - Ma...
est72011sex2_age999    Population Estimate (as of July 1) - 2011 - Fe...
est72012sex0_age999    Population Estimate (as of July 1) - 2012 - Bo...
est72012sex1_age999    Population Estimate (as of July 1) - 2012 - Ma...
est72012sex2_age999    Population Estimate (as of July 1) - 2012 - Fe...
est72013sex0_age999    Population Estimate (as of July 1) - 2013 - Bo...
est72013sex1_age999    Population Estimate (as of July 1) - 2013 - Ma...
est72013sex2_age999    Population Estimate (as of July 1) - 2013 - Fe...
est72014sex0_age999    Population Estimate (as of July 1) - 2014 - Bo...
est72014sex1_age999    Population Estimate (as of July 1) - 2014 - Ma...
est72014sex2_age999    Population Estimate (as of July 1) - 2014 - Fe...
est72015sex0_age999    Population Estimate (as of July 1) - 2015 - Bo...
est72015sex1_age999    Population Estimate (as of July 1) - 2015 - Ma...
est72015sex2_age999    Population Estimate (as of July 1) - 2015 - Fe...
est72016sex0_age999    Population Estimate (as of July 1) - 2016 - Bo...
est72016sex1_age999    Population Estimate (as of July 1) - 2016 - Ma...
est72016sex2_age999    Population Estimate (as of July 1) - 2016 - Fe...
                                             ...
cen42010sex0_medage    April 1, 2010 - Census - Both Sexes; Median ag...
cen42010sex1_medage    April 1, 2010 - Census - Male; Median age (years)
cen42010sex2_medage    April 1, 2010 - Census - Female; Median age (y...
est42010sex0_medage    April 1, 2010 - Estimates Base - Both Sexes; M...
est42010sex1_medage    April 1, 2010 - Estimates Base - Male; Median ...
est42010sex2_medage    April 1, 2010 - Estimates Base - Female; Media...
est72010sex0_medage    Population Estimate (as of July 1) - 2010 - Bo...
est72010sex1_medage    Population Estimate (as of July 1) - 2010 - Ma...
est72010sex2_medage    Population Estimate (as of July 1) - 2010 - Fe...
est72011sex0_medage    Population Estimate (as of July 1) - 2011 - Bo...
est72011sex1_medage    Population Estimate (as of July 1) - 2011 - Ma...
est72011sex2_medage    Population Estimate (as of July 1) - 2011 - Fe...
est72012sex0_medage    Population Estimate (as of July 1) - 2012 - Bo...
est72012sex1_medage    Population Estimate (as of July 1) - 2012 - Ma...
est72012sex2_medage    Population Estimate (as of July 1) - 2012 - Fe...
est72013sex0_medage    Population Estimate (as of July 1) - 2013 - Bo...
est72013sex1_medage    Population Estimate (as of July 1) - 2013 - Ma...
est72013sex2_medage    Population Estimate (as of July 1) - 2013 - Fe...
est72014sex0_medage    Population Estimate (as of July 1) - 2014 - Bo...
est72014sex1_medage    Population Estimate (as of July 1) - 2014 - Ma...
est72014sex2_medage    Population Estimate (as of July 1) - 2014 - Fe...
est72015sex0_medage    Population Estimate (as of July 1) - 2015 - Bo...
est72015sex1_medage    Population Estimate (as of July 1) - 2015 - Ma...
est72015sex2_medage    Population Estimate (as of July 1) - 2015 - Fe...
est72016sex0_medage    Population Estimate (as of July 1) - 2016 - Bo...
est72016sex1_medage    Population Estimate (as of July 1) - 2016 - Ma...
est72016sex2_medage    Population Estimate (as of July 1) - 2016 - Fe...
est72017sex0_medage    Population Estimate (as of July 1) - 2017 - Bo...
est72017sex1_medage    Population Estimate (as of July 1) - 2017 - Ma...
est72017sex2_medage    Population Estimate (as of July 1) - 2017 - Fe...
Name: 0, Length: 993, dtype: object

In [35]:
pop_df.query("[pop_df.iloc[0,:]=='Geography'")

TokenError: ('EOF in multi-line statement', (2, 0))

In [37]:
pop_df.iloc[0,:]=='Geography'

GEO.id                 False
GEO.id2                False
GEO.display-label       True
cen42010sex0_age999    False
cen42010sex1_age999    False
cen42010sex2_age999    False
est42010sex0_age999    False
est42010sex1_age999    False
est42010sex2_age999    False
est72010sex0_age999    False
est72010sex1_age999    False
est72010sex2_age999    False
est72011sex0_age999    False
est72011sex1_age999    False
est72011sex2_age999    False
est72012sex0_age999    False
est72012sex1_age999    False
est72012sex2_age999    False
est72013sex0_age999    False
est72013sex1_age999    False
est72013sex2_age999    False
est72014sex0_age999    False
est72014sex1_age999    False
est72014sex2_age999    False
est72015sex0_age999    False
est72015sex1_age999    False
est72015sex2_age999    False
est72016sex0_age999    False
est72016sex1_age999    False
est72016sex2_age999    False
                       ...
cen42010sex0_medage    False
cen42010sex1_medage    False
cen42010sex2_medage    False
est42010sex0_medage    False
est42010sex1_medage    False
est42010sex2_medage    False
est72010sex0_medage    False
est72010sex1_medage    False
est72010sex2_medage    False
est72011sex0_medage    False
est72011sex1_medage    False
est72011sex2_medage    False
est72012sex0_medage    False
est72012sex1_medage    False
est72012sex2_medage    False
est72013sex0_medage    False
est72013sex1_medage    False
est72013sex2_medage    False
est72014sex0_medage    False
est72014sex1_medage    False
est72014sex2_medage    False
est72015sex0_medage    False
est72015sex1_medage    False
est72015sex2_medage    False
est72016sex0_medage    False
est72016sex1_medage    False
est72016sex2_medage    False
est72017sex0_medage    False
est72017sex1_medage    False
est72017sex2_medage    False
Name: 0, Length: 993, dtype: bool

In [41]:
# drop columns with census data
cols = [c for c in pop_df.columns if c.lower()[:3] != 'cen']
cleanpop_df = pop_df[cols]
cleanpop_df.head(2)

,GEO.id,GEO.id2,GEO.display-label,est42010sex0_age999,est42010sex1_age999,est42010sex2_age999,est72010sex0_age999,est72010sex1_age999,est72010sex2_age999,est72011sex0_age999,...,est72014sex2_medage,est72015sex0_medage,est72015sex1_medage,est72015sex2_medage,est72016sex0_medage,est72016sex1_medage,est72016sex2_medage,est72017sex0_medage,est72017sex1_medage,est72017sex2_medage
0,Id,Id2,Geography,"April 1, 2010 - Estimates Base - Both Sexes; T...","April 1, 2010 - Estimates Base - Male; Total","April 1, 2010 - Estimates Base - Female; Total",Population Estimate (as of July 1) - 2010 - Bo...,Population Estimate (as of July 1) - 2010 - Ma...,Population Estimate (as of July 1) - 2010 - Fe...,Population Estimate (as of July 1) - 2011 - Bo...,...,Population Estimate (as of July 1) - 2014 - Fe...,Population Estimate (as of July 1) - 2015 - Bo...,Population Estimate (as of July 1) - 2015 - Ma...,Population Estimate (as of July 1) - 2015 - Fe...,Population Estimate (as of July 1) - 2016 - Bo...,Population Estimate (as of July 1) - 2016 - Ma...,Population Estimate (as of July 1) - 2016 - Fe...,Population Estimate (as of July 1) - 2017 - Bo...,Population Estimate (as of July 1) - 2017 - Ma...,Population Estimate (as of July 1) - 2017 - Fe...
1,0500000US47001,47001,"Anderson County, Tennessee",75094,36288,38806,75112,36292,38820,75173,...,44.8,43.3,41.4,44.8,43.3,41.5,45.1,43.2,41.2,45.0

In [48]:
list(cleanpop_df)

['GEO.id',
 'GEO.id2',
 'GEO.display-label',
 'est42010sex0_age999',
 'est42010sex1_age999',
 'est42010sex2_age999',
 'est72010sex0_age999',
 'est72010sex1_age999',
 'est72010sex2_age999',
 'est72011sex0_age999',
 'est72011sex1_age999',
 'est72011sex2_age999',
 'est72012sex0_age999',
 'est72012sex1_age999',
 'est72012sex2_age999',
 'est72013sex0_age999',
 'est72013sex1_age999',
 'est72013sex2_age999',
 'est72014sex0_age999',
 'est72014sex1_age999',
 'est72014sex2_age999',
 'est72015sex0_age999',
 'est72015sex1_age999',
 'est72015sex2_age999',
 'est72016sex0_age999',
 'est72016sex1_age999',
 'est72016sex2_age999',
 'est72017sex0_age999',
 'est72017sex1_age999',
 'est72017sex2_age999',
 'est42010sex0_age0to4',
 'est42010sex1_age0to4',
 'est42010sex2_age0to4',
 'est72010sex0_age0to4',
 'est72010sex1_age0to4',
 'est72010sex2_age0to4',
 'est72011sex0_age0to4',
 'est72011sex1_age0to4',
 'est72011sex2_age0to4',
 'est72012sex0_age0to4',
 'est72012sex1_age0to4',
 'est72012sex2_age0to4',
 'est72013sex0_age0to4',
 'est72013sex1_age0to4',
 'est72013sex2_age0to4',
 'est72014sex0_age0to4',
 'est72014sex1_age0to4',
 'est72014sex2_age0to4',
 'est72015sex0_age0to4',
 'est72015sex1_age0to4',
 'est72015sex2_age0to4',
 'est72016sex0_age0to4',
 'est72016sex1_age0to4',
 'est72016sex2_age0to4',
 'est72017sex0_age0to4',
 'est72017sex1_age0to4',
 'est72017sex2_age0to4',
 'est42010sex0_age5to9',
 'est42010sex1_age5to9',
 'est42010sex2_age5to9',
 'est72010sex0_age5to9',
 'est72010sex1_age5to9',
 'est72010sex2_age5to9',
 'est72011sex0_age5to9',
 'est72011sex1_age5to9',
 'est72011sex2_age5to9',
 'est72012sex0_age5to9',
 'est72012sex1_age5to9',
 'est72012sex2_age5to9',
 'est72013sex0_age5to9',
 'est72013sex1_age5to9',
 'est72013sex2_age5to9',
 'est72014sex0_age5to9',
 'est72014sex1_age5to9',
 'est72014sex2_age5to9',
 'est72015sex0_age5to9',
 'est72015sex1_age5to9',
 'est72015sex2_age5to9',
 'est72016sex0_age5to9',
 'est72016sex1_age5to9',
 'est72016sex2_age5to9',
 'est72017sex0_age5to9',
 'est72017sex1_age5to9',
 'est72017sex2_age5to9',
 'est42010sex0_age10to14',
 'est42010sex1_age10to14',
 'est42010sex2_age10to14',
 'est72010sex0_age10to14',
 'est72010sex1_age10to14',
 'est72010sex2_age10to14',
 'est72011sex0_age10to14',
 'est72011sex1_age10to14',
 'est72011sex2_age10to14',
 'est72012sex0_age10to14',
 'est72012sex1_age10to14',
 'est72012sex2_age10to14',
 'est72013sex0_age10to14',
 'est72013sex1_age10to14',
 'est72013sex2_age10to14',
 'est72014sex0_age10to14',
 'est72014sex1_age10to14',
 'est72014sex2_age10to14',
 'est72015sex0_age10to14',
 'est72015sex1_age10to14',
 'est72015sex2_age10to14',
 'est72016sex0_age10to14',
 'est72016sex1_age10to14',
 'est72016sex2_age10to14',
 'est72017sex0_age10to14',
 'est72017sex1_age10to14',
 'est72017sex2_age10to14',
 'est42010sex0_age15to19',
 'est42010sex1_age15to19',
 'est42010sex2_age15to19',
 'est72010sex0_age15to19',
 'est72010sex1_age15to19',
 'est72010sex2_age15to19',
 'est72011sex0_age15to19',
 'est72011sex1_age15to19',
 'est72011sex2_age15to19',
 'est72012sex0_age15to19',
 'est72012sex1_age15to19',
 'est72012sex2_age15to19',
 'est72013sex0_age15to19',
 'est72013sex1_age15to19',
 'est72013sex2_age15to19',
 'est72014sex0_age15to19',
 'est72014sex1_age15to19',
 'est72014sex2_age15to19',
 'est72015sex0_age15to19',
 'est72015sex1_age15to19',
 'est72015sex2_age15to19',
 'est72016sex0_age15to19',
 'est72016sex1_age15to19',
 'est72016sex2_age15to19',
 'est72017sex0_age15to19',
 'est72017sex1_age15to19',
 'est72017sex2_age15to19',
 'est42010sex0_age20to24',
 'est42010sex1_age20to24',
 'est42010sex2_age20to24',
 'est72010sex0_age20to24',
 'est72010sex1_age20to24',
 'est72010sex2_age20to24',
 'est72011sex0_age20to24',
 'est72011sex1_age20to24',
 'est72011sex2_age20to24',
 'est72012sex0_age20to24',
 'est72012sex1_age20to24',
 'est72012sex2_age20to24',
 'est72013sex0_age20to24',
 'est72013sex1_age20to24',
 'est72013sex2_age20to24',
 'est72014sex0_age20to24',
 'est72014sex1_age20to24',
 'est72014sex2_age20to24',
 'est72015sex0_age20to24',
 'est72015sex1_age20to24',
 'est72015sex2_age20to24',
 'est72016sex0_age20to24',
 'est72016sex1_age20to24',
 'est72016sex2_age20to24',
 'est72017sex0_age20to24',
 'est72017sex1_age20to24',
 'est72017sex2_age20to24',
 'est42010sex0_age25to29',
 'est42010sex1_age25to29',
 'est42010sex2_age25to29',
 'est72010sex0_age25to29',
 'est72010sex1_age25to29',
 'est72010sex2_age25to29',
 'est72011sex0_age25to29',
 'est72011sex1_age25to29',
 'est72011sex2_age25to29',
 'est72012sex0_age25to29',
 'est72012sex1_age25to29',
 'est72012sex2_age25to29',
 'est72013sex0_age25to29',
 'est72013sex1_age25to29',
 'est72013sex2_age25to29',
 'est72014sex0_age25to29',
 'est72014sex1_age25to29',
 'est72014sex2_age25to29',
 'est72015sex0_age25to29',
 'est72015sex1_age25to29',
 'est72015sex2_age25to29',
 'est72016sex0_age25to29',
 'est72016sex1_age25to29',
 'est72016sex2_age25to29',
 'est72017sex0_age25to29',
 'est72017sex1_age25to29',
 'est72017sex2_age25to29',
 'est42010sex0_age30to34',
 'est42010sex1_age30to34',
 'est42010sex2_age30to34',
 'est72010sex0_age30to34',
 'est72010sex1_age30to34',
 'est72010sex2_age30to34',
 'est72011sex0_age30to34',
 'est72011sex1_age30to34',
 'est72011sex2_age30to34',
 'est72012sex0_age30to34',
 'est72012sex1_age30to34',
 'est72012sex2_age30to34',
 'est72013sex0_age30to34',
 'est72013sex1_age30to34',
 'est72013sex2_age30to34',
 'est72014sex0_age30to34',
 'est72014sex1_age30to34',
 'est72014sex2_age30to34',
 'est72015sex0_age30to34',
 'est72015sex1_age30to34',
 'est72015sex2_age30to34',
 'est72016sex0_age30to34',
 'est72016sex1_age30to34',
 'est72016sex2_age30to34',
 'est72017sex0_age30to34',
 'est72017sex1_age30to34',
 'est72017sex2_age30to34',
 'est42010sex0_age35to39',
 'est42010sex1_age35to39',
 'est42010sex2_age35to39',
 'est72010sex0_age35to39',
 'est72010sex1_age35to39',
 'est72010sex2_age35to39',
 'est72011sex0_age35to39',
 'est72011sex1_age35to39',
 'est72011sex2_age35to39',
 'est72012sex0_age35to39',
 'est72012sex1_age35to39',
 'est72012sex2_age35to39',
 'est72013sex0_age35to39',
 'est72013sex1_age35to39',
 'est72013sex2_age35to39',
 'est72014sex0_age35to39',
 'est72014sex1_age35to39',
 'est72014sex2_age35to39',
 'est72015sex0_age35to39',
 'est72015sex1_age35to39',
 'est72015sex2_age35to39',
 'est72016sex0_age35to39',
 'est72016sex1_age35to39',
 'est72016sex2_age35to39',
 'est72017sex0_age35to39',
 'est72017sex1_age35to39',
 'est72017sex2_age35to39',
 'est42010sex0_age40to44',
 'est42010sex1_age40to44',
 'est42010sex2_age40to44',
 'est72010sex0_age40to44',
 'est72010sex1_age40to44',
 'est72010sex2_age40to44',
 'est72011sex0_age40to44',
 'est72011sex1_age40to44',
 'est72011sex2_age40to44',
 'est72012sex0_age40to44',
 'est72012sex1_age40to44',
 'est72012sex2_age40to44',
 'est72013sex0_age40to44',
 'est72013sex1_age40to44',
 'est72013sex2_age40to44',
 'est72014sex0_age40to44',
 'est72014sex1_age40to44',
 'est72014sex2_age40to44',
 'est72015sex0_age40to44',
 'est72015sex1_age40to44',
 'est72015sex2_age40to44',
 'est72016sex0_age40to44',
 'est72016sex1_age40to44',
 'est72016sex2_age40to44',
 'est72017sex0_age40to44',
 'est72017sex1_age40to44',
 'est72017sex2_age40to44',
 'est42010sex0_age45to49',
 'est42010sex1_age45to49',
 'est42010sex2_age45to49',
 'est72010sex0_age45to49',
 'est72010sex1_age45to49',
 'est72010sex2_age45to49',
 'est72011sex0_age45to49',
 'est72011sex1_age45to49',
 'est72011sex2_age45to49',
 'est72012sex0_age45to49',
 'est72012sex1_age45to49',
 'est72012sex2_age45to49',
 'est72013sex0_age45to49',
 'est72013sex1_age45to49',
 'est72013sex2_age45to49',
 'est72014sex0_age45to49',
 'est72014sex1_age45to49',
 'est72014sex2_age45to49',
 'est72015sex0_age45to49',
 'est72015sex1_age45to49',
 'est72015sex2_age45to49',
 'est72016sex0_age45to49',
 'est72016sex1_age45to49',
 'est72016sex2_age45to49',
 'est72017sex0_age45to49',
 'est72017sex1_age45to49',
 'est72017sex2_age45to49',
 'est42010sex0_age50to54',
 'est42010sex1_age50to54',
 'est42010sex2_age50to54',
 'est72010sex0_age50to54',
 'est72010sex1_age50to54',
 'est72010sex2_age50to54',
 'est72011sex0_age50to54',
 'est72011sex1_age50to54',
 'est72011sex2_age50to54',
 'est72012sex0_age50to54',
 'est72012sex1_age50to54',
 'est72012sex2_age50to54',
 'est72013sex0_age50to54',
 'est72013sex1_age50to54',
 'est72013sex2_age50to54',
 'est72014sex0_age50to54',
 'est72014sex1_age50to54',
 'est72014sex2_age50to54',
 'est72015sex0_age50to54',
 'est72015sex1_age50to54',
 'est72015sex2_age50to54',
 'est72016sex0_age50to54',
 'est72016sex1_age50to54',
 'est72016sex2_age50to54',
 'est72017sex0_age50to54',
 'est72017sex1_age50to54',
 'est72017sex2_age50to54',
 'est42010sex0_age55to59',
 'est42010sex1_age55to59',
 'est42010sex2_age55to59',
 'est72010sex0_age55to59',
 'est72010sex1_age55to59',
 'est72010sex2_age55to59',
 'est72011sex0_age55to59',
 'est72011sex1_age55to59',
 'est72011sex2_age55to59',
 'est72012sex0_age55to59',
 'est72012sex1_age55to59',
 'est72012sex2_age55to59',
 'est72013sex0_age55to59',
 'est72013sex1_age55to59',
 'est72013sex2_age55to59',
 'est72014sex0_age55to59',
 'est72014sex1_age55to59',
 'est72014sex2_age55to59',
 'est72015sex0_age55to59',
 'est72015sex1_age55to59',
 'est72015sex2_age55to59',
 'est72016sex0_age55to59',
 'est72016sex1_age55to59',
 'est72016sex2_age55to59',
 'est72017sex0_age55to59',
 'est72017sex1_age55to59',
 'est72017sex2_age55to59',
 'est42010sex0_age60to64',
 'est42010sex1_age60to64',
 'est42010sex2_age60to64',
 'est72010sex0_age60to64',
 'est72010sex1_age60to64',
 'est72010sex2_age60to64',
 'est72011sex0_age60to64',
 'est72011sex1_age60to64',
 'est72011sex2_age60to64',
 'est72012sex0_age60to64',
 'est72012sex1_age60to64',
 'est72012sex2_age60to64',
 'est72013sex0_age60to64',
 'est72013sex1_age60to64',
 'est72013sex2_age60to64',
 'est72014sex0_age60to64',
 'est72014sex1_age60to64',
 'est72014sex2_age60to64',
 'est72015sex0_age60to64',
 'est72015sex1_age60to64',
 'est72015sex2_age60to64',
 'est72016sex0_age60to64',
 'est72016sex1_age60to64',
 'est72016sex2_age60to64',
 'est72017sex0_age60to64',
 'est72017sex1_age60to64',
 'est72017sex2_age60to64',
 'est42010sex0_age65to69',
 'est42010sex1_age65to69',
 'est42010sex2_age65to69',
 'est72010sex0_age65to69',
 'est72010sex1_age65to69',
 'est72010sex2_age65to69',
 'est72011sex0_age65to69',
 'est72011sex1_age65to69',
 'est72011sex2_age65to69',
 'est72012sex0_age65to69',
 'est72012sex1_age65to69',
 'est72012sex2_age65to69',
 'est72013sex0_age65to69',
 'est72013sex1_age65to69',
 'est72013sex2_age65to69',
 'est72014sex0_age65to69',
 'est72014sex1_age65to69',
 'est72014sex2_age65to69',
 'est72015sex0_age65to69',
 'est72015sex1_age65to69',
 'est72015sex2_age65to69',
 'est72016sex0_age65to69',
 'est72016sex1_age65to69',
 'est72016sex2_age65to69',
 'est72017sex0_age65to69',
 'est72017sex1_age65to69',
 'est72017sex2_age65to69',
 'est42010sex0_age70to74',
 'est42010sex1_age70to74',
 'est42010sex2_age70to74',
 'est72010sex0_age70to74',
 'est72010sex1_age70to74',
 'est72010sex2_age70to74',
 'est72011sex0_age70to74',
 'est72011sex1_age70to74',
 'est72011sex2_age70to74',
 'est72012sex0_age70to74',
 'est72012sex1_age70to74',
 'est72012sex2_age70to74',
 'est72013sex0_age70to74',
 'est72013sex1_age70to74',
 'est72013sex2_age70to74',
 'est72014sex0_age70to74',
 'est72014sex1_age70to74',
 'est72014sex2_age70to74',
 'est72015sex0_age70to74',
 'est72015sex1_age70to74',
 'est72015sex2_age70to74',
 'est72016sex0_age70to74',
 'est72016sex1_age70to74',
 'est72016sex2_age70to74',
 'est72017sex0_age70to74',
 'est72017sex1_age70to74',
 'est72017sex2_age70to74',
 'est42010sex0_age75to79',
 'est42010sex1_age75to79',
 'est42010sex2_age75to79',
 'est72010sex0_age75to79',
 'est72010sex1_age75to79',
 'est72010sex2_age75to79',
 'est72011sex0_age75to79',
 'est72011sex1_age75to79',
 'est72011sex2_age75to79',
 'est72012sex0_age75to79',
 'est72012sex1_age75to79',
 'est72012sex2_age75to79',
 'est72013sex0_age75to79',
 'est72013sex1_age75to79',
 'est72013sex2_age75to79',
 'est72014sex0_age75to79',
 'est72014sex1_age75to79',
 'est72014sex2_age75to79',
 'est72015sex0_age75to79',
 'est72015sex1_age75to79',
 'est72015sex2_age75to79',
 'est72016sex0_age75to79',
 'est72016sex1_age75to79',
 'est72016sex2_age75to79',
 'est72017sex0_age75to79',
 'est72017sex1_age75to79',
 'est72017sex2_age75to79',
 'est42010sex0_age80to84',
 'est42010sex1_age80to84',
 'est42010sex2_age80to84',
 'est72010sex0_age80to84',
 'est72010sex1_age80to84',
 'est72010sex2_age80to84',
 'est72011sex0_age80to84',
 'est72011sex1_age80to84',
 'est72011sex2_age80to84',
 'est72012sex0_age80to84',
 'est72012sex1_age80to84',
 'est72012sex2_age80to84',
 'est72013sex0_age80to84',
 'est72013sex1_age80to84',
 'est72013sex2_age80to84',
 'est72014sex0_age80to84',
 'est72014sex1_age80to84',
 'est72014sex2_age80to84',
 'est72015sex0_age80to84',
 'est72015sex1_age80to84',
 'est72015sex2_age80to84',
 'est72016sex0_age80to84',
 'est72016sex1_age80to84',
 'est72016sex2_age80to84',
 'est72017sex0_age80to84',
 'est72017sex1_age80to84',
 'est72017sex2_age80to84',
 'est42010sex0_age85plus',
 'est42010sex1_age85plus',
 'est42010sex2_age85plus',
 'est72010sex0_age85plus',
 'est72010sex1_age85plus',
 'est72010sex2_age85plus',
 'est72011sex0_age85plus',
 'est72011sex1_age85plus',
 'est72011sex2_age85plus',
 'est72012sex0_age85plus',
 'est72012sex1_age85plus',
 'est72012sex2_age85plus',
 'est72013sex0_age85plus',
 'est72013sex1_age85plus',
 'est72013sex2_age85plus',
 'est72014sex0_age85plus',
 'est72014sex1_age85plus',
 'est72014sex2_age85plus',
 'est72015sex0_age85plus',
 'est72015sex1_age85plus',
 'est72015sex2_age85plus',
 'est72016sex0_age85plus',
 'est72016sex1_age85plus',
 'est72016sex2_age85plus',
 'est72017sex0_age85plus',
 'est72017sex1_age85plus',
 'est72017sex2_age85plus',
 'est42010sex0_age0to17',
 'est42010sex1_age0to17',
 'est42010sex2_age0to17',
 'est72010sex0_age0to17',
 'est72010sex1_age0to17',
 'est72010sex2_age0to17',
 'est72011sex0_age0to17',
 'est72011sex1_age0to17',
 'est72011sex2_age0to17',
 'est72012sex0_age0to17',
 'est72012sex1_age0to17',
 'est72012sex2_age0to17',
 'est72013sex0_age0to17',
 'est72013sex1_age0to17',
 'est72013sex2_age0to17',
 'est72014sex0_age0to17',
 'est72014sex1_age0to17',
 'est72014sex2_age0to17',
 'est72015sex0_age0to17',
 'est72015sex1_age0to17',
 'est72015sex2_age0to17',
 'est72016sex0_age0to17',
 'est72016sex1_age0to17',
 'est72016sex2_age0to17',
 'est72017sex0_age0to17',
 'est72017sex1_age0to17',
 'est72017sex2_age0to17',
 'est42010sex0_age0to4r',
 'est42010sex1_age0to4r',
 'est42010sex2_age0to4r',
 'est72010sex0_age0to4r',
 'est72010sex1_age0to4r',
 'est72010sex2_age0to4r',
 'est72011sex0_age0to4r',
 'est72011sex1_age0to4r',
 'est72011sex2_age0to4r',
 'est72012sex0_age0to4r',
 'est72012sex1_age0to4r',
 'est72012sex2_age0to4r',
 'est72013sex0_age0to4r',
 'est72013sex1_age0to4r',
 'est72013sex2_age0to4r',
 'est72014sex0_age0to4r',
 'est72014sex1_age0to4r',
 'est72014sex2_age0to4r',
 'est72015sex0_age0to4r',
 'est72015sex1_age0to4r',
 'est72015sex2_age0to4r',
 'est72016sex0_age0to4r',
 'est72016sex1_age0to4r',
 'est72016sex2_age0to4r',
 'est72017sex0_age0to4r',
 'est72017sex1_age0to4r',
 'est72017sex2_age0to4r',
 'est42010sex0_age5to13',
 'est42010sex1_age5to13',
 'est42010sex2_age5to13',
 'est72010sex0_age5to13',
 'est72010sex1_age5to13',
 'est72010sex2_age5to13',
 'est72011sex0_age5to13',
 'est72011sex1_age5to13',
 'est72011sex2_age5to13',
 'est72012sex0_age5to13',
 'est72012sex1_age5to13',
 'est72012sex2_age5to13',
 'est72013sex0_age5to13',
 'est72013sex1_age5to13',
 'est72013sex2_age5to13',
 'est72014sex0_age5to13',
 'est72014sex1_age5to13',
 'est72014sex2_age5to13',
 'est72015sex0_age5to13',
 'est72015sex1_age5to13',
 'est72015sex2_age5to13',
 'est72016sex0_age5to13',
 'est72016sex1_age5to13',
 'est72016sex2_age5to13',
 'est72017sex0_age5to13',
 'est72017sex1_age5to13',
 'est72017sex2_age5to13',
 'est42010sex0_age14to17',
 'est42010sex1_age14to17',
 'est42010sex2_age14to17',
 'est72010sex0_age14to17',
 'est72010sex1_age14to17',
 'est72010sex2_age14to17',
 'est72011sex0_age14to17',
 'est72011sex1_age14to17',
 'est72011sex2_age14to17',
 'est72012sex0_age14to17',
 'est72012sex1_age14to17',
 'est72012sex2_age14to17',
 'est72013sex0_age14to17',
 'est72013sex1_age14to17',
 'est72013sex2_age14to17',
 'est72014sex0_age14to17',
 'est72014sex1_age14to17',
 'est72014sex2_age14to17',
 'est72015sex0_age14to17',
 'est72015sex1_age14to17',
 'est72015sex2_age14to17',
 'est72016sex0_age14to17',
 'est72016sex1_age14to17',
 'est72016sex2_age14to17',
 'est72017sex0_age14to17',
 'est72017sex1_age14to17',
 'est72017sex2_age14to17',
 'est42010sex0_age18to64',
 'est42010sex1_age18to64',
 'est42010sex2_age18to64',
 'est72010sex0_age18to64',
 'est72010sex1_age18to64',
 'est72010sex2_age18to64',
 'est72011sex0_age18to64',
 'est72011sex1_age18to64',
 'est72011sex2_age18to64',
 'est72012sex0_age18to64',
 'est72012sex1_age18to64',
 'est72012sex2_age18to64',
 'est72013sex0_age18to64',
 'est72013sex1_age18to64',
 'est72013sex2_age18to64',
 'est72014sex0_age18to64',
 'est72014sex1_age18to64',
 'est72014sex2_age18to64',
 'est72015sex0_age18to64',
 'est72015sex1_age18to64',
 'est72015sex2_age18to64',
 'est72016sex0_age18to64',
 'est72016sex1_age18to64',
 'est72016sex2_age18to64',
 'est72017sex0_age18to64',
 'est72017sex1_age18to64',
 'est72017sex2_age18to64',
 'est42010sex0_age18to24',
 'est42010sex1_age18to24',
 'est42010sex2_age18to24',
 'est72010sex0_age18to24',
 'est72010sex1_age18to24',
 'est72010sex2_age18to24',
 'est72011sex0_age18to24',
 'est72011sex1_age18to24',
 'est72011sex2_age18to24',
 'est72012sex0_age18to24',
 'est72012sex1_age18to24',
 'est72012sex2_age18to24',
 'est72013sex0_age18to24',
 'est72013sex1_age18to24',
 'est72013sex2_age18to24',
 'est72014sex0_age18to24',
 'est72014sex1_age18to24',
 'est72014sex2_age18to24',
 'est72015sex0_age18to24',
 'est72015sex1_age18to24',
 'est72015sex2_age18to24',
 'est72016sex0_age18to24',
 'est72016sex1_age18to24',
 'est72016sex2_age18to24',
 'est72017sex0_age18to24',
 'est72017sex1_age18to24',
 'est72017sex2_age18to24',
 'est42010sex0_age25to44',
 'est42010sex1_age25to44',
 'est42010sex2_age25to44',
 'est72010sex0_age25to44',
 'est72010sex1_age25to44',
 'est72010sex2_age25to44',
 'est72011sex0_age25to44',
 'est72011sex1_age25to44',
 'est72011sex2_age25to44',
 'est72012sex0_age25to44',
 'est72012sex1_age25to44',
 'est72012sex2_age25to44',
 'est72013sex0_age25to44',
 'est72013sex1_age25to44',
 'est72013sex2_age25to44',
 'est72014sex0_age25to44',
 'est72014sex1_age25to44',
 'est72014sex2_age25to44',
 'est72015sex0_age25to44',
 'est72015sex1_age25to44',
 'est72015sex2_age25to44',
 'est72016sex0_age25to44',
 'est72016sex1_age25to44',
 'est72016sex2_age25to44',
 'est72017sex0_age25to44',
 'est72017sex1_age25to44',
 'est72017sex2_age25to44',
 'est42010sex0_age45to64',
 'est42010sex1_age45to64',
 'est42010sex2_age45to64',
 'est72010sex0_age45to64',
 'est72010sex1_age45to64',
 'est72010sex2_age45to64',
 'est72011sex0_age45to64',
 'est72011sex1_age45to64',
 'est72011sex2_age45to64',
 'est72012sex0_age45to64',
 'est72012sex1_age45to64',
 'est72012sex2_age45to64',
 'est72013sex0_age45to64',
 'est72013sex1_age45to64',
 'est72013sex2_age45to64',
 'est72014sex0_age45to64',
 'est72014sex1_age45to64',
 'est72014sex2_age45to64',
 'est72015sex0_age45to64',
 'est72015sex1_age45to64',
 'est72015sex2_age45to64',
 'est72016sex0_age45to64',
 'est72016sex1_age45to64',
 'est72016sex2_age45to64',
 'est72017sex0_age45to64',
 'est72017sex1_age45to64',
 'est72017sex2_age45to64',
 'est42010sex0_age65plus',
 'est42010sex1_age65plus',
 'est42010sex2_age65plus',
 'est72010sex0_age65plus',
 'est72010sex1_age65plus',
 'est72010sex2_age65plus',
 'est72011sex0_age65plus',
 'est72011sex1_age65plus',
 'est72011sex2_age65plus',
 'est72012sex0_age65plus',
 'est72012sex1_age65plus',
 'est72012sex2_age65plus',
 'est72013sex0_age65plus',
 'est72013sex1_age65plus',
 'est72013sex2_age65plus',
 'est72014sex0_age65plus',
 'est72014sex1_age65plus',
 'est72014sex2_age65plus',
 'est72015sex0_age65plus',
 'est72015sex1_age65plus',